@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background-color: #1e1e1e;
  overflow-x: hidden;
  width: 100vh;
}

input:-webkit-autofill {
  background: none;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: text;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    @apply border border-white border-solid py-3 px-14 text-center font-inter font-basic text-14 text-white;
  }
  .button:hover {
    @apply border border-yellow-light border-solid py-3 px-14 text-center font-inter font-basic text-14 text-yellow-light;
  }
  .button:active {
    @apply border border-yellow-default border-solid py-3 px-14 text-center font-inter font-basic text-14 text-yellow-default;
  }
}
